
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_path('banner.png') %>" class="img-fluid w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>Louez une voiture en quelques clics</h1>
        <h3>Location de voiture entre particuliers</h3>
      </div>
    </div>
  </div>
</div>
