<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%#---------------- LOGO A GAUCHE ---------------------------------------- %>
    <a class="navbar-brand" href="/cars">
      <img
        src="<%= image_path('logo.png') %>"
        alt="" width="60" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%#---------------- HOME ---------------------------------------- %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cars">Accueil</a>
        </li>
        <%#---------------- Dropdown + voitures ---------------------------- %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Voir toutes mes voitures
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% Car.all.each do |car| %>
            <li><a class="dropdown-item" href="/cars/<%= car.brand %>"></a><%= car.brand %></li>
            <% end %>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-plus"></i> Créer une nouvelle reservation</a></li>
          </ul>
        </li>
      </ul>
      <%#---------------- Search ---------------------------- %>
      <form class="d-flex">
        <%#---------------- Ce que je veux ---------------------------------------- %>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Se connecter</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
